input {
  file {
    path => "/var/log/nginx/access.log"
#    start_position => "beginning"
#    sincedb_path => "/dev/null"
    type => "nginx"    
  }
}

filter {
     if [type] == "nginx" {
       grok {
         match => { "message" => "%{COMBINEDAPACHELOG}" }
       }
       date {
         match => [ "timestamp" , "dd/MMM/yyyy:HH:mm:ss Z" ]
       }
       geoip {
         source => "clientip"
       }
  }
}

output {
  elasticsearch {
    hosts => ["localhost:{{es_local_port}}"]
    index => "nginx-%{+YYYY.MM.dd}"
  }
}